@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  background: transparent;
  /* optional */
  border: none;
}
/* In your global.css or inside a module */
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: #2d3748; /* dark gray */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* blue (your primary color) */
  border-radius: 3px;
}
