@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  background: transparent;
  /* optional */
  border: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-up {
  animation: fadeInUp 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.bg-gradient-hero {
  background: linear-gradient(to right, #7e22ce, #8bcadf, #eab308);
}

.resume {
  width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  background: white;
}

.scale-wrapper {
  transform: scale(1);
  transform-origin: top center;
}

@media (max-width: 1200px) {
  .scale-wrapper {
    transform: scale(0.9);
  }
}

@media (max-width: 1024px) {
  .scale-wrapper {
    transform: scale(0.75);
  }
}

@media (max-width: 768px) {
  .scale-wrapper {
    transform: scale(0.6);
  }
}

@media (max-width: 640px) {
  .scale-wrapper {
    transform: scale(0.5);
  }
}
